@tailwind base;
@tailwind components;
@tailwind utilities;

.signup-form{
    display: flex;
    justify-content: center;
    padding-top: 12%;
}

.homepage{
    display: flex;
    justify-content: center
}

.plans{
    display: flex;
    justify-content: center;
    padding-top: 5%;
}

